<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769936067133-e1uj7tr03ahd3hq3kfpc4kb92apr8kb1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769936067133-e1uj7tr03ahd3hq3kfpc4kb92apr8kb1</string>
	<key>API_KEY</key>
	<string>AIzaSyD54bIkLQNg-SVhVxhIixltt-LvNtPBTCI</string>
	<key>GCM_SENDER_ID</key>
	<string>769936067133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CLC.clickerApp</string>
	<key>PROJECT_ID</key>
	<string>clickergame-d8a53</string>
	<key>STORAGE_BUCKET</key>
	<string>clickergame-d8a53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769936067133:ios:4748b46da0af7a316a3854</string>
</dict>
</plist>